
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
}
* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #f9f9f9;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}
#sidebar {
  box-sizing: border-box; 
  width: 100%;
  padding: 5px 1em;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);
  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  z-index:99;
  
}
#sidebar.close {
  padding: 5px;
  width: 60px;
}

    #sidebar .blanklik {
        display: block !important;
        text-align: center;
    }


    #sidebar > ul > li:first-child {
        display: flex;
        justify-content: flex-end;
        margin-right: 100px;
        padding: 15px 20px 0px 20px;
    }
    #sidebar ul li {list-style-type:none; position:relative;
    }

        #sidebar ul li.active a {
            color: #fff;
            padding: 15px 20px;
            svg {
    fill: var(--accent-clr);
  }
}
#sidebar ul li {
    float: left;
    margin: 0 2px;
    width: 170px;
}
#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
    border-radius: 0em;
    padding:0;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}
.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 15px 20px;
}
#sidebar svg {
  flex-shrink: 0;
  fill: var(--text-clr);
}
#sidebar a span,
#sidebar .dropdown-btn span {
  flex-grow: 1;
  font-size:14px;
  text-align:center;
}

#sidebar .dropdown-btn:hover {
    background-color: #373739;
    padding: 17px 20px;
  
}
#sidebar .dropdown-btn {
    padding: 17px 20px;
}
 

#sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
 
  div {
    overflow: hidden;
  }
}
#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
    padding: 0;
    background: #4c4e9a;
}
   

    .logo img {
        width: 120px;
        margin-right: 50px;
    }

.dropdown-btn svg {
    transition: 200ms ease;
}
.rotate svg:last-child {
  rotate: 180deg;
}
#sidebar .sub-menu a {
  padding-left: 2em;
  font-size:14px;
}

    #sidebar .sub-menu a:hover {
        background: #373739;
        color: #fff;
    }
    #toggle-btn {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;
  svg {
    transition: rotate 150ms ease;
  }
}
#toggle-btn:hover {
  background-color: var(--hover-clr);
}
 
.container {
 
  padding:0 15px;
  width:100%;        max-width: 100%;
  
}


.dashboard-head {
    padding: 0px 10px 0px 30px; 
    /* margin: 0px -20px 25px -20px; */
    display: block;
    float: right;
}

    .dashboard-head h1 {
        color: #000;
        font-weight: 600;
        font-size: 20px;
        float: left;
        padding: 14px 0px;
        margin: 0 0 2px 0px;
    }
  

    .table-style {
        width: 100%
    }

        .table-style tr th {
            background: #4c4e9a;
            color: #fff;
            font-weight: normal;
            font-size: 14px;
            font-weight: 500;
            padding: 10px;
            text-align: left;
        }
	.table-style tr td{padding:10px; border-bottom:1px solid #ddd; font-size:14px; }
	
 .table-style tbody tr {border-bottom:1px solid #ddd; }
.table-style tr:nth-child(even) {background: #f7f7f7}
.table-style tr:nth-child(odd) {background: #FFF}
.table-style tr:nth-child(even):hover {background: #f7f7f7}
.table-style tr:nth-child(odd):hover {background: #f7f7f7}
        .table-style .thump-img img {
            width: 40px;
            border-radius: 6px;
        }
.table-style {
    background: #f7f7f7;
    padding: 8px;
    border: 0px solid #ffffff;
}
h2.title{font-size:20px; margin-bottom:20px; width:auto; font-weight:500; float:left; }	
.logo{width:100%; text-align:left;}
#sidebar ul li.active > a,
#sidebar ul li.active > button {
    background-color: #4d4d4d;
    color: #fff;
}
.search-all {position:relative; float:right; width:200px;
}
    .search-all .form-control {font-size:14px;
    }
    .search-all button {
        position: absolute;
        right: 1px;
        top: 1px;
        border: 0px;
        padding: 6px 10px;
       
        border-radius: 0px 4px 4px 0px;
    }
    #sidebar ul li .sub-menu li.active a {
        background-color: #4d4d4d;
        color: #fff;
    }
.sub-menu {display: none; list-style: none; padding-left: 20px;}
.sub-menu.show { display: block; position: absolute; top: 0px; top: 58px; }


.form-control.select {
    width: 200px;
    float: right;
    border: 1px solid #ccc !important;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 4px 10px;
    height: 33px !Important;
    line-height: 11px;
    font-size: 14px;
    background-image: url('data:image/svg+xml;utf8,<svg width="20" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}
/*pagenation-----------------------------------------------------*/
.page-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    margin: 30px 0px;
}

#pagination {
  margin: 0;
  padding: 0;
  text-align: center
}

#pagination li {
  display: inline
}

#pagination li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000
}

/* Active and Hoverable Pagination */
#pagination li a {
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s
    
}
#pagination li a.active {
  background-color: #4caf50;
  color: #fff
}
#pagination li a:hover:not(.active) {
  background-color: #ddd;
} 

/* border-pagination */
.b-pagination-outer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  display: flex
}
#border-pagination {
  margin: 15px  auto;
  padding: 0;
  text-align: center
}
#border-pagination li {
  display: inline;

}
#border-pagination li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ddd;
  float: left;
  margin:3px; 
  border-radius:3px;

}
#border-pagination li a {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s
}
#border-pagination li a.active {
  background-color: #4caf50;
  color: #fff;
}
#border-pagination li a:hover:not(.active) {
  background: #ddd;
}

#border-pagination li a.active {
  background-color: #333; /* or your desired color */
  color: #fff;
  border-radius: 4px;
  padding: 6px 12px;
}



/*check box */

.checkbox-sec{
	padding:20px 0px;
}
.checkbox-sec .form-group {
  display: block;
  margin-bottom: 15px;
}

.checkbox-sec .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox-sec .form-group label {
  position: relative;
  cursor: pointer;
}

.checkbox-sec .form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.checkbox-sec .form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


/*redio button-------------*/

.radiobutton-sec .radio {
  margin: 0.5rem;
}
.radiobutton-sec .radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radiobutton-sec .radio input[type=radio] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radiobutton-sec .radio input[type=radio]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radiobutton-sec .radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}
.radiobutton-sec .radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radiobutton-sec .radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}

/*button*/

.btn {
  appearance: none;
    -webkit-appearance: none;
  font-family: sans-serif;
  cursor: pointer;
  padding: 12px;
  min-width: 100px;
  border: 0px;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}

.btn:focus, .btn.focus {
  outline: 0;
}

.btn-round-1 {
  border-radius: 8px;
}

.btn-round-2 {
  border-radius: 20px;
}

.btn-dark {
  background: #000;
  color: #ffffff;
}

.btn-dark:hover {
  background: #212121;
  color: #ffffff;
}

.btn-light {
  background: #ededed;
  color: #000;
}

.btn-light:hover {
  background: #dbdbdb;
  color: #000;
}

.btn-primary {
    background:#4c4e9a;
    color: #ffffff;
    font-size:14px;
}

.btn-primary:hover {
  background: #2980b9;
  color: #ffffff;
}

.btn-success {
  background: #2ecc71;
  color: #ffffff;
}

.btn-success:hover {
  background: #27ae60;
  color: #ffffff;
}

.btn-warning {
  background: #f1c40f;
  color: #ffffff;
}

.btn-warning:hover {
  background: #f39c12;
  color: #ffffff;
}

.btn-danger {
  background: #e74c3c;
  color: #ffffff;
}

.btn-danger:hover {
  background: #c0392b;
  color: #ffffff;
}


/*textbox----------------------------------*/

.textbox-sec input[type="text"] {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    font-size: 14px;
    background: #f6f6f687;
}

    .textbox-sec input[type="text"]:focus {
        box-shadow: 0 0 0 1px rgba(13, 110, 253, 0.25);
    }

.textbox-sec .inputWithIcon input[type="text"] {
  padding-left: 30px;
}
.textbox-sec input[type="password"] {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    font-size: 14px;
    background: #f6f6f687;
}

    .textbox-sec input[type="password"]:focus {
        box-shadow: 0 0 0 1px rgba(13, 110, 253, 0.25);
  
    }
 .form-control:focus {
    box-shadow: 0 0 0 1px rgba(13, 110, 253, 0.25);
}
  
        .textbox-sec textarea:focus {
    box-shadow: 0 0 0 1px rgba(13, 110, 253, 0.25);
}

.textbox-sec .inputWithIcon input[type="password"] {
    padding-left: 30px;
}


.textbox-sec .inputWithIcon {
  position: relative;
}
.textbox-sec .radio {
    float: left !important;
}
.textbox-sec .btn-round-2 {
    border-radius: 6px;
    padding: 6px;
    font-size: 14px;
    float: right;
    min-width: 80px;
}
.textbox-sec .radio-label {font-size:14px; margin-right:15px;}
.textbox-sec .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 22px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
    font-size:15px;
}

.textbox-sec .inputWithIcon input[type="text"]:focus + i {
  color: dodgerBlue;
}

.textbox-sec .inputWithIcon.inputIconBg i { 
  color: #aaa;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;margin-left: 6px;
}

 .textbox-sec .inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}

/*---------search----------------*/
/*.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}*/

.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #3498db;
  border-radius: 22px;
  -webkit-animation: rotate 1s infinite linear;
  /* left, top and position just for the demo! */
  position: absolute;
  left:50%;
  top: 50%;
}

@-webkit-keyframes rotate {
  /* 100% keyframe for  clockwise. 
     use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/*select box--------------*/
select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
 
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:#000;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 20em;
   height: 3em;
   line-height: 3; 
   overflow: hidden;
   border-radius: .25em; border: 1px solid #ddd;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #ddd;
   cursor:pointer;
   pointer-events:none;
   color:#333;   
   transition:.25s all ease;
}
.select:hover::after {color: #000;}

 

/*body-top-sec---------------------------------*/
.body-top-sec{ }

.body-top-sec .box-content{ 
    padding:0px;
    border: 0px solid #ddd;
    border-radius: 6px;}
	
 .content-card{ border-radius: 6px;  }	
  button:focus { outline: 0px dotted;  outline: 0px auto -webkit-focus-ring-color; }
  main{overflow-x:hidden; padding:0 20px; width:100%;}

.container { padding: 0;}

/* Sidebar */
#sidebar { width: 100%; padding: 5px 15px; box-sizing: border-box;}
 #sidebar ul {padding:0px; margin:0px;}
    /* Main content */
.topcontent-box {
/*    background: #f7f7f7;*/
    padding: 15px;
    margin-bottom: 15px;
    border:1px solid #ddd
}


.dashboard-head .right-login {float: right; position:relative;}
.dashboard-head .right-login .login img {width: 15px;margin : 0px 10px 0px 0px;}
 .dashboard-head .right-login .button {       
        cursor: pointer;
        float: right; 
        text-align: center;
        transition: background .3s;
        width: auto;
        -webkit-transition: background .3s;
    }
.dashboard-head .right-login .button img {width: 26px;margin: 15px 0 0 0px;}
    .dashboard-head .right-login .login {
        display: none;
        margin-bottom: 2%;
        margin-top: 42px;
        position: absolute;
        left: -125px;  width: 160px; }

    .dashboard-head .right-login .triangle {
        border-right: 10px solid transparent;
        border-bottom: 10px solid #dedede;
        border-left: 10px solid transparent;
        margin-left: 127px;
        width: 0;
    }
    .dashboard-head .right-login ul li {
        list-style-type: none;
        line-height: 16px;
        font-size: 14px;
        padding: 14px;
    }
    .dashboard-head .right-login ul {
        box-shadow: rgb(99 99 99 / 8%) 0px 2px 8px 0px;
        padding: 0px;
        background: #dedede;
        border-radius: 4px 4px 4px 4px;
    }
    
        .dashboard-head .right-login ul li:hover {
            color: blue;
        }
        .dashboard-head .right-login ul li a {text-decoration:none; color:#000 !important; display:block;
        }

.clear {clear:both
}

.has-search {position:relative;
}
    .has-search button {
        float: right;
        position: absolute;
        right:13px;
        top: 1px;
        border: 0;
        padding: 7.5px 10px;
        border-radius:0px 2px 2px 0px;
    }
.search-add {
    padding: 6px 15px;
    float:right;
    font-size:14px;
}

.leftarrow-icon {
    background: #3498db;
    border-radius: 3px;
    margin-right: 10px;
}
    .leftarrow-icon:hover {background:#000; cursor:pointer;
    }
    .leftarrow-icon svg {
        margin: 0 0 9px 2px;
    }
.radioGroup {display:flex; padding:20px 0px;
}
    .radioGroup .mr-3 {margin:0 25px 0 0px;
    }
    .radioGroup .form-check {margin-right:15px;
    }

.Editor-buttom {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 25px;
    display: block;
    float: left;
}

    .Editor-buttom .btnSubmit {
        float: right;
        width: auto;
        padding:6px;
        font-size:14px;
    
      
    }

.customEditor {
    border: 0px solid #ddd;
    width: 100%;
    height: auto;
    background: transparent;
    padding:0px;
}
    .customEditor .btn {min-width:auto;
    }

#Email-Add-Edit .modal__content {width:80% !important;
}

.Mail-content-add-edit .content-card .pagination {
    position: absolute;
    right: 3%;
    bottom: 0;
}
.textbox-icon {position:relative;
}
    .textbox-icon i {
        position: absolute;
        left: 7px;
        top: 10px;
        color: #aaa;
        font-size: 16px;
    }

    .textbox-icon .form-control {
        padding-left: 35px;
        font-size: 14px;
        background: #fafafa;
    }
.table-style .action  a{ margin-right:25px; text-decoration:none;
}
/*
.Mail-content-add-edit .content-card {
    overflow-y: auto;
    height: 469px;
}*/


/**popup modal*/
.modalBox {
    display: block;
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: 90vh;
    min-width: 50%;
    height: auto;
    max-height: 80vh;
    background-color: #ffffff;
    padding: 0 1rem;
    box-shadow: 0px 0px 10px #cacaca;
    border-radius: 5px;
     
    -webkit-animation-name: fade_In;
    animation-name: fade_In;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
/*    visibility: visible; 
    opacity: 1;*/
}
.modalBox .headerBox {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 50px;
 
}
.modalBox .headerBox span {
  padding: 1rem 1rem 0px;
}
.modalBox .headerBox .modalCloser {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #cacaca;
  font-size: 1.5rem;
}
.modalBox .headerBox .modalCloser:hover {
  background-color: rgb(201, 0, 0);
  color: #ffffff;
}
.modalBox .bodyBox {
  padding: 1rem 0px;
  height: calc(100% - 150px);
 
}
.modalBox .footerBox {
  height: 50px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modalBox.htmlEditor .html_codeEditor {
  width: 100%;
  height: 55vh;
  font-size: 1.5rem;
  overflow-y: auto;
}
.modalBox.modalBox_close {
  opacity: 0;
  top: 0%;
  -webkit-animation-name: fade_Out;
          animation-name: fade_Out;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.modalBox.permitModal {
  width: auto;
  min-width: 25%;
  max-height: 65vh;
  position: absolute;
  top: 2rem;
  left: unset;
  right: 0;
  transform: translate(-15%, 0%);
  pointer-events: all;
  -webkit-animation-name: fade_In-permitModal;
          animation-name: fade_In-permitModal;
}

.address-textarea {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px 8px 8px 30px;
    box-sizing: border-box;
    transition: 0.3s;
    font-size: 14px;
    font-weight: normal;
    height: 60px;
    background: #f6f6f687;
}

    .address-textarea::placeholder {
        color: #999; /* Set to something visible */
        opacity: 1;
        font-size: 1rem;
    }

.user-activity .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 12px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
    font-size: 15px;
}

#Edit_static_content .modal__content {
    width: 80% !important;
}
#Edit_FAQ .textbox-icon i {
    top: 21px;
}
#Edit_FAQ .textbox-icon .question {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px 8px 8px 30px;
    box-sizing: border-box;
    transition: 0.3s;
    font-size: 14px;
    font-weight: normal;
    height: 50px;
    background: #fafafa;
}

#Edit_FAQ .textbox-icon .Answer {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px 8px 8px 30px;
    box-sizing: border-box;
    transition: 0.3s;
    font-size: 14px;
    font-weight: normal;
    height: 200px;
    background: #fafafa;
    ;
}


.user-payment table {
    overflow: scroll;
}

.table-scroll-container {
    overflow-x: auto;
    width: 100%;
    border: 0px solid #ddd;
    padding:0px;
}

.table-style {
    width: max-content;
    border-collapse: collapse;
    min-width: 100%;}
#User_Paymeny_Add .textbox-icon {margin-bottom:15px;}
#User_Paymeny_Add .radioGroup {padding:0px;}
#User_Paymeny_Add .textbox-icon .question {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin: 0px 0;
    outline: none;
    padding: 8px 8px 8px 30px;
    box-sizing: border-box;
    transition: 0.3s;
    font-size: 14px;
    font-weight: normal;
    height: 100px;
    background: #f6f6f687;
}

/*last update-06052025*/

.table-style tr th:last-child {width:100px; text-align:center;}
.table-style tr td:last-child { width: 100px; text-align: center;}
.table-style tr td:last-child a {margin:5px;}